@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-primary: 'Noto Serif', serif;
}

@layer base {
  .font-primary {
    font-family: var(--font-primary);
  }
}

body {
  margin: 0;
}