@import "tailwindcss";

:root {
  --font-primary: 'Noto Serif', serif;
  --font-secondary: 'Saira', serif;
  --font-heading: 'Oregano', serif;
}

@layer base {
  .font-primary {
    font-family: var(--font-primary);
  }

  .font-secondary {
    font-family: var(--font-secondary);
  }

  .font-heading {
    font-family: var(--font-heading);
  }
}

body {
  margin: 0;
}

/* Hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.dotted-background {
  background-color: #00000d; 
  background-image: radial-gradient(#333333 1px, transparent 1px);
  background-size: 25px 25px;
  background-repeat: repeat;
  width: 100%;
  height: 100%;
}