@import "tailwindcss";

:root {
  --font-primary: 'Noto Serif', serif;
  --font-secondary: 'Saira', serif;
  --font-heading: 'Oregano', serif;
}

@layer base {
  .font-primary {
    font-family: var(--font-primary);
  }

  .font-secondary {
    font-family: var(--font-secondary);
  }

  .font-heading {
    font-family: var(--font-heading);
  }
}

body {
  margin: 0;
}

/* Hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}